.App-header {
  background-color: #dde5e8;
  padding:30px !important; /* sigh */
}

.A {
  color: black;
}

.T {
  color: orange;
}

.C {
  color: skyblue;
}

.G {
  color: purple;
}

.sequence {
  word-break: break-all;
}